
body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f5f5;
}

#gallery {
    padding: 20px;
    column-count: 4;

}

.ttt {
    column-span: all;
    text-align: center;
    margin-bottom: 30px;
}

.card {
    break-inside: avoid;
    margin-bottom: 20px;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    display: block;
    border-radius: 16px;
}

/* Responsive */
@media (max-width: 1200px) {
    #gallery { column-count: 3; }
}
@media (max-width: 800px) {
    #gallery { column-count: 2; }
}
@media (max-width: 500px) {
    #gallery { column-count: 1; }
}

/* Lightbox */
#lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 12px;
}
