
:root {
  /* Primary Colors */
  --primary-blue: #1f4e79;
  --primary-green: #6b8e23;
  --primary-orange: #f7931e;

  /* Background Colors */
  --bg-white: #ffffff;
  --bg-light: #f4f6f8;
  --bg-section: #eef2f5;
  --bg-footer-blue: #1f4e79;

  /* Text Colors */
  --text-dark: #1e293b;
  --text-gray: #475569;
  --text-light: #ffffff;



  /*social icons*/
  --fb-color: #1877F2;
  --yt-color: #FF0000;
  --tt-color: #000000;


}



.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.popup-box {
  background: white;
  width: 90%;
  max-width: 700px;
  border-radius: 12px;
  padding: 10px;
  position: relative;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
  animation: popupZoom 0.4s ease;
}

.popup-img {
  width: 100%;
  border-radius: 10px;
}

.popup-close {
  position: absolute;
  top: 8px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.popup-btns {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.popup-btn {
  padding: 10px 20px;
  background: #1877F2;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.popup-btn.green {
  background: #22C55E;
}

@keyframes popupZoom {
  from {
    transform: scale(0.7);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}











/* ===================== HERO SECTION ===================== */
.vertical-email {
  position: fixed;
  right: -105px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);

  font-size: 15px;
  letter-spacing: 2px;
  color: gold;

  padding: 8px 16px;
  border-radius: 20px 20px 0 0;
  z-index: 10;
}


.vertical-email a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}





















.mbody {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.55)), url("/imgss/image\ copy\ 2.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 





  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-light);
  padding: 0 20px;
}

.gradient-text {
  font-size: 48px;



}

.mbody p {
  font-size: 18px;
  margin-bottom: 30px;

}

.hero-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.button-one {
  padding: 12px 24px;
  background: var(--bg-white);
  text-align: center;
  border-radius: 6px;
  font-weight: 600;

  color: #fff;
  border-color: white;
  background-color: #1877F2;
}



.button {
  padding: 12px 24px;
  background: var(--bg-white);
  text-align: center;
  border-radius: 6px;
  font-weight: 600;
  border-color: #fff;
}

.button:hover {
  background-color: #1877F2;
  color: #fff;
}



@media (max-width:768px) {
  .hero-buttons {
    gap: 15px;
  }

  .vertical-email {
    font-size: 13px;
  }


}